<div>
    <h2 class="text-center">Administration </h2>
    <h3 class="text-center"> Only Admin</h3>
</div>

<div>

    <a asp-area="Admin" asp-controller="Administration" asp-action="AddManager">
        
        <button class="btn-primary">ADD Manage</button>
    </a>
    &nbsp;
    <a asp-area="Admin" asp-controller="Administration" asp-action="AddManager">

        <button class="btn-primary">ADD Worker</button>
    </a>
    &nbsp;
    <a asp-area="Admin" asp-controller="Administration" asp-action="AddDepartment">

        <button class="btn-primary">Add Department</button>
    </a>
   
</div>