@{
    ViewData["Category"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Category</h1>
    <p>Learn about <a href="https://clickandgrab.co.uk">Web Shop
        </a>.</p>
</div>