@using MVCtest.Core.Models
@model MVCtest.Core.Models.ShoppingCart
<partial name="Notification"></partial>
<input asp-for="@Model.ProductVModel.Product.Id" hidden />
<div class="text-center">
    <h1 class="display-4">@Model.ProductVModel.Product.Title</h1>
    <p>
        Learn about <a href="https://clickandgrab.co.uk">
            Web Shop
        </a>.
    </p>

</div>
<div class="row">
    <div class="col-8">
        <div class="row p-2">
            <div class="col-12 p-1" style="border-radius: 5px; border: 1px solid cornsilk">
                <div class="card">
                    <img src="@Model.ProductVModel.Product.ImgURL" width="100%" style="border-radius: 5px;" />

                    <p class="card-title h5 text-bg-primary " style="border-radius: 5px; border:1px solid cornsilk "> Title:   &nbsp;@Model.ProductVModel.Product.Title</p>

                </div>
            </div>

        </div>
    </div>
    <div class="col-4">
        <div class="row p-2">
            <div class="col-12 p-1" style="border:whitesmoke; border-radius: 5px;">
                <div class="card">

                    <p class="card-title h5 text-bg-primary" style="border-radius: 5px; border: 1px solid cornsilk">&nbsp;Author :   &nbsp;@Model.ProductVModel.Product.Author</p>
                    <p class="card-title h5 text-bg-primary" style="border-radius: 5px; border: 1px solid cornsilk">&nbsp;Category :   &nbsp;@Model.ProductVModel.Product.Category.Name</p>
                    <p class="card-title h5 text-bg-primary" style="border-radius: 5px; border: 1px solid cornsilk">&nbsp;List Price :   &nbsp;@Model.ProductVModel.Product.ListPrice</p>
                    <p class="card-title h5 text-bg-primary" style="border-radius: 5px; border: 1px solid cornsilk">&nbsp;Price 1-50 :   &nbsp;@Model.ProductVModel.Product.Price</p>
                    <p class="card-title h5 text-bg-primary" style="border-radius: 5px; border: 1px solid cornsilk">&nbsp;Price 51-100 :   &nbsp;@Model.ProductVModel.Product.Price50</p>
                    <p class="card-title h5 text-bg-primary" style="border-radius: 5px; border: 1px solid cornsilk">&nbsp;Price 100+ :   &nbsp;@Model.ProductVModel.Product.Price100</p>
                    <p class="card-title h5 text-bg-primary" style="border-radius: 5px; border: 1px solid cornsilk">&nbsp;Cover type :   &nbsp;@Model.ProductVModel.Product.Cover.Name</p>
                    <p></p>
                </div>
                <div class="card-title h5 text-bg-primary" style="border-radius: 5px; border: 1px solid cornsilk">
                    <p>&nbsp; Description :</p>
                    <p>&nbsp; @Model.ProductVModel.Product.Description</p>

                </div>
            </div>

        </div>
    </div>

</div>

